.stick{
    position: fixed;
    top: 0;
    z-index: 999;
}
.call{
   
    display: flex;
    align-items: center;
    padding: 15px 25px;
    background-color: rgb(242, 104, 0);
    color: white;
    border-radius: 30px;
    letter-spacing: 5px;
}
@media screen and (max-width:640px) {
    .drop {
        position: relative;
        left: 300px;
    }

    .drop-2 {
        position: relative;
        left: 180px;
        top: 50px;
    }
    .call{
        display: none;
    }
    .stick{
        position: inherit;
    }
}

@media screen and (min-width:641px) and (max-width:768px){
    .drop {
        position: relative;
        left: 550px;
    }

    .drop-2 {
        position: relative;
        left: 420px;
    }
    .call{
        display: none;
    }
}

@media screen and (min-width:769px) and (max-width:1024px){
    .drop {
        position: relative;
        left: 800px;
    }

    .drop-2 {
        position: relative;
        left: 680px;
    }
    .call{
        /* display: none; */
    }

}